@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Helvetica', cursive;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid black;
  max-width: 100%;
  max-height: 100%;
}

#player,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#layer1-city,
#layer2-city,
#layer3-city,
#layer4-city,
#layer5-city,
#fly,
#digger,
#walking_zombie,
#plant,
#worm,
#spinner,
#bat_1,
#bat_2,
#bat_3,
#zomby_hand,
#small_spider,
#spider,
#fire,
#collision,
#live {
  display: none;
}
